body {
  background-color: #D6D5A8;
  color: #816797;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #816797;
  border-width: 5px;
  border-spacing: 50px;
  width: 5%;
}

img {
  height: 150px;
  width: 125px;
}

h1{
  color: #51557E;
}

h3{
  color: #51557E;
}
